body {
    display: grid;
    grid-template-columns: 1fr 9fr;
    background-color: black;
}

form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 10px;
    padding: 10px;
}

#taskText {
    font-size: 50px;
    
}

#tasks {
    padding: 10px;
}

.task {
    display: grid;
    grid-template-columns: 0.5fr 9fr 1fr;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    align-content: center;
    background-color: aquamarine;
}

.task[complete=true] {
    background-color: blueviolet;
}


li {
    list-style: none;
}

.nav-element {
    display: grid;
    grid-template-columns: 8fr 2fr;
    background-color: brown;
    cursor: pointer;
    margin-bottom: 20px;
}

.active {
    background-color: darkgreen;
}


#newList {
    width: 80%;
}

.complete-check {
    height: 25px;
    width: 25px;
    margin: 0;
    margin-left: 8px;
}